@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: url("../public/images/bg2.jpg"); /* or .jpg or .svg */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cal-sans {
  font-family: "Cal Sans", sans-serif;
  font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input-uppercase {
  text-transform: uppercase;
}

.input-uppercase::placeholder {
  text-transform: none;
}
